Anotações do curso:<br>
*Pandas* - https://www.kaggle.com/learn/pandas

**1 - Creating, Reading and Writing**

**Dataframes & Series**

In [1]:
# impotando e criando dataframes
import pandas as pd

pd.DataFrame({'Yes': [1, 2], 'No': [3, 4]})

   Yes  No
0    1   3
1    2   4

In [2]:
# com strings
pd.DataFrame({'Maior': ['Dó', 'Ré', 'Mi', 'Fá', 'Sol', 'Lá', 'Si'],
              'Menor': ['Lá', 'Fá', 'Dó', 'Sol', 'Ré', 'Si', 'Mi']})

  Maior Menor
0    Dó    Lá
1    Ré    Fá
2    Mi    Dó
3    Fá   Sol
4   Sol    Ré
5    Lá    Si
6    Si    Mi

In [3]:
# com indexes
pd.DataFrame({'Maior': ['Dó', 'Ré', 'Mi', 'Fá', 'Sol', 'Lá', 'Si'],
              'Menor': ['Lá', 'Fá', 'Dó', 'Sol', 'Ré', 'Si', 'Mi']},
              index=['I', 'II', 'III', 'IV', 'V', 'VI', 'VII'])

    Maior Menor
I      Dó    Lá
II     Ré    Fá
III    Mi    Dó
IV     Fá   Sol
V     Sol    Ré
VI     Lá    Si
VII    Si    Mi

In [4]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.Series([10, 20, 30], index=['2015', '2016', '2017'], name='Sales')

2015    10
2016    20
2017    30
Name: Sales, dtype: int64

In [6]:
# algumas funções
# import pandas as pd
arquivo = pd.read_csv("jazz_and_blues_songs.csv")
arquivo.head()  # traz as primeiras 5 linhas do dataframe

,id,nome,artista,album,ano,lancamento
0,1,Take Five,The Dave Brubeck Quartet,Time Out,1959,14 de dezembro de 1959
1,2,In A Sentimental Mood,Duke Ellington And John Coltrane,Duke Ellington & John Coltrane,1963,23 de fevereiro de 1963
2,3,My Favorite Things,John Coltrane,My Favorite Things,1961,1 de março de 1961
3,4,So What,Miles Davis,Kind of Blue,1959,17 de agosto de 1959
4,5,Blue in Green,Miles Davis,Kind of Blue,1959,17 de agosto de 1959

In [7]:
arquivo.shape   # (count de linhas, count de colunas)

(40, 6)

In [8]:
# definindo a primeira coluna do dataframe como o índice
arquivo = pd.read_csv("jazz_and_blues_songs.csv", index_col=0)
arquivo.head()

,nome,artista,album,ano,lancamento
id,,,,,
1,Take Five,The Dave Brubeck Quartet,Time Out,1959,14 de dezembro de 1959
2,In A Sentimental Mood,Duke Ellington And John Coltrane,Duke Ellington & John Coltrane,1963,23 de fevereiro de 1963
3,My Favorite Things,John Coltrane,My Favorite Things,1961,1 de março de 1961
4,So What,Miles Davis,Kind of Blue,1959,17 de agosto de 1959
5,Blue in Green,Miles Davis,Kind of Blue,1959,17 de agosto de 1959